
.uc-popup .uc-popup-overlay
{
	background-color: black;
	opacity: .5;
	filter: alpha(opacity=50);
	color: white;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 9998;
}

.uc-popup .uc-popup-wrapper
{
	position: absolute;
	z-index: 9999;
	text-align: center;
}

.uc-popup .uc-popup-wrapper.uc-popup-autoCenter.uc-popup-fixed
{
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 9999;
	text-align: center;
}

.uc-popup .uc-popup-loading
{
	width: 50px;
	height: 50px;

	border-radius: 5px;
	box-shadow: 0px 0px 10px gray;
	
	display: inline-block;
	
	position: relative;
	
	background: url(loading.gif) no-repeat scroll 50% 50% #eeeeee;
}

.uc-popup .uc-popup-loading.uc-popup-autoCenter
{
	top: 50%;

	margin-top: -25px;
}


.uc-popup .uc-popup-box
{
	display: inline-block;
	position: relative;
}

.uc-popup .uc-popup-wrapper.uc-popup-autoCenter.uc-popup-fixed .uc-popup-box
{
	position: absolute;
	
	top: 50%;
	left: 50%;
	
	_margin-top: -50%;
}

.uc-popup .uc-popup-title
{
	border-radius: 10px 10px 0 0;
	
	background-color: #ababab;
	text-align: center;
}

.uc-popup .uc-popup-body
{
}

.uc-popup .uc-popup-body .uc-popup-buttons
{
}


.uc-popup .uc-popup-button
{
	width: 70px;
	height: 19px;

	border: solid #d5d5d5 1px;
	
	display: inline-block;
	
	overflow: hidden;
}

.uc-popup .uc-popup-button input
{
	float: left;

	width: 100%;
	height: 100%;

	margin: 0;
	padding: 0;

	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 10px;
	
	color: #0066cc;
	
	text-transform: uppercase;

	border-width: 0px;
	background-color: transparent;
	
	cursor: pointer;
}

.uc-popup .uc-popup-control
{
	color: #0066CC;
	
	position: absolute;
	
	bottom: 8px;
	
	cursor: pointer;
	
	border-radius: 5px;
	
	background-color: transparent;
}

.uc-popup .uc-popup-control > div
{
	display: inline-block;
	
	padding: 2px 20px 6px 20px;
	
	border: 1px solid #D5D5D5;
	
	background-color: #ffffff;
}

.uc-popup .uc-popup-control span
{
	display: block;
	position: absolute;
	
	margin-top: 6px;
}

.uc-popup .uc-popup-control.uc-popup-prev
{
	left: 15px;
	
	text-align: left;
}
.uc-popup .uc-popup-control.uc-popup-prev span
{
	border-width: 6px 11px 6px 6px;
	border-style: solid;
	border-color: transparent #0066CC transparent transparent; 
	
	height: 0;
	width: 0;
	line-height: 0;
	font-size: 0;
	
	left: 1px;
}
.uc-popup .uc-popup-control.uc-popup-prev > div
{
	padding-right: 10px;
}

.uc-popup .uc-popup-control.uc-popup-next
{
	right: 15px;

	text-align: right;
}
.uc-popup .uc-popup-control.uc-popup-next span
{
	border-width: 6px 6px 6px 11px;
	border-style: solid;
	border-color: transparent transparent transparent #0066CC; 
	
	height: 0;
	width: 0;
	line-height: 0;
	font-size: 0;

	right: 1px;
}
.uc-popup .uc-popup-control.uc-popup-next > div
{
	padding-left: 10px;
}


/* customization */

.uc-popup .uc-popup-overlay
{
	opacity: .3;
	filter: alpha(opacity=30);
}

.uc-popup .uc-popup-box
{
	background-color: white;
	border-radius: 10px;
	box-shadow: 0 0 10px gray;
}


.uc-popup .uc-popup-body
{
	padding: 10px;
	text-align: left;
}

.uc-popup .uc-popup-content
{
	color: #000;
}

.uc-popup .uc-popup-body .uc-popup-buttons
{
	margin-top: 20px;
}
.uc-popup .uc-popup-body .uc-popup-buttons.uc-popup-empty
{
	margin-top: 0;
}

.uc-popup .uc-popup-control.uc-popup-close
{
	top: 15px;
	right: 15px;

	width: 23px;
	height: 23px;
	
	border-radius: 0;
	bottom: auto;

	background: url(close.png) no-repeat scroll 0 0 transparent;
}


